@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  /* COLORS */
  --accent: #38b6ff !important;
  --accent-hover: #fb55e1 !important;
  --bgcolor: #0A0A08 !important;

  --yellow: #fff45e !important;
  --green : #aeff43 !important;
  --baby-blue: #55fdfd !important;
  --dark-blue: #2155cd !important;
  --orange: #ff9443 !important;
  --red: #ff4350 !important;
  --magenta: #ff43ae !important;
  --purple: #9443ff !important;
}

body {
  margin: 0;
  padding: 0;

  background-color: #0A0A08;
  font-family: "Comfortaa", sans-serif;
}

/*
 * Buttons used throughout the app
 * They're constructed this way to give them an angular
 * design, reminiscent of sci-fi.
 * It is honestly difficult to work with this kind of setup,
 * though clip path was used to make it look this way.
 */

.button-shadow {
  width: 10rem;
  height: 3rem;
  filter: drop-shadow(0px 0px 20px var(--baby-blue));
}

.button-outer {
  width: 100%;
  height: 100%;

  background-color: var(--baby-blue);
  color: var(--baby-blue);

  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-inner {
    font-family: "Comfortaa", sans-serif;
  width: 95%;
  height: 95%;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;

  border-width: 3px;
  border-style: solid;
  border-color: var(--baby-blue);

  color: var(--baby-blue);
  background-color: var(--bgcolor);

  text-shadow:
    0px 0px 5px var(--baby-blue);

  transition: 0.5s ease-in-out;

  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

.button-inner:hover {
  color: var(--bgcolor);
  background-color: var(--baby-blue);

  text-shadow:
    0px 0px 5px var(--bgcolor);

}

/* MODALS */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(34, 34, 34, .75);
  /* padding: 75%; */
  width: 75vw;
  z-index: 100;

  margin-left: 2rem;
  margin-right: 2rem;

  border-width: 0.2rem;
  border-style: outset;
  border-color: var(--baby-blue);
  box-shadow:
    0px 0px 30px var(--baby-blue);

  color: var(--baby-blue);

  text-shadow:
    0px 0px 5px var(--baby-blue);

  animation-name: modal-animate;
  animation-duration: 1s;
  animation-timing-function: linear;
  /* animation-timing-function: linear; */
  animation-iteration-count: 1;
  animation-direction: forward;

  /* transition: box-shadow 1s ease-in-out; */

  /* filter: blur(10px); */

  /*
   * Very cool effect, but not supported by
   * Firefox yet
   */

  /* backdrop-filter: blur(10px); */
}

@keyframes modal-animate {
  0% {
    clip-path: polygon(0% 0%, 0.5% 0%, 0.5% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  50.1% {
    clip-path: none;
    box-shadow: none;
  }

  100% {
    box-shadow:
      0px 0px 30px var(--baby-blue);

  }
}

.modal-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center -70px;
  z-index: -1;
  filter: blur(3rem);
}

/* .modal-container::after { */
/*   content: ''; */
/*   position: absolute; */
/*   top: -5%; */
/*   left: -2%; */
/*   right: 0; */
/*   bottom: 0; */
/*   width: 104%; */
/*   height: 110%; */
/*   z-index: -1; */
/*   /* background-color: var(--dark-blue); */
/*   border-color: var(--yellow); */
/*   border-width: 0.3rem; */
/*   border-style: solid; */
/**/
/*   /* box-shadow: */
/*   /*   0px 0px 30px var(--yellow); */
/*   filter: drop-shadow(0px 0px 10px var(--yellow)); */
/**/
/*   /* animation-name: modal-container-after-border; */
/*   animation-duration: 2s; */
/*   animation-timing-function: ease-in-out; */
/*   animation-iteration-count: infinite; */
/*   animation-direction: alternate; */
/**/
/*   /* clip: rect(0px, 200px, 50px, 0px); */
/*   /* clip: rect(0px, 50px, 200px, 0px); */
/* } */

@keyframes modal-container-after-border {
  /* 0%, 5% { */
  /*   clip-path: polygon(0% 0%, 10% 0%, 10% 100%, 0% 100%); */
  /* } */
  /**/
  /* 95%, 100% { */
  /*   clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 90% 100%); */
  /* } */

  0% {
    width: 0;
    height: 0;
    border-top-color: var(--yellow);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  25% {
    width: 104%;
    height: 0;
    border-top-color: var(--yellow);
    border-right-color: var(--yellow);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  100% {
    width: 104%;
    height: 110%;
    border-top-color: var(--yellow);
    border-right-color: var(--yellow);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  


  /* 0% { */
  /*   clip-path: polygon(0% 0%, 100% 0%, 100% 100%); */
  /* } */
  /**/
  /* 33% { */
  /*   clip-path: polygon(100% 0%, 100% 100%, 0% 100%); */
  /* } */
  /**/
  /* 66% { */
  /*   clip-path: polygon(100% 100%, 0% 100%, 0% 0%); */
  /* } */
  /**/
  /* 100% { */
  /*   clip-path: polygon(0% 100%, 0% 0%, 100% 0%); */
  /* } */
}

.fa-xmark {
  cursor: pointer;
  font-size: 2rem;
  filter: drop-shadow(0px 0px 5px var(--baby-blue));
  opacity: 1;

  transition: opacity 0.25s ease-in-out;
}

.fa-xmark:hover {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.modal-container hr {
  margin-left: inherit;
  margin-right: inherit;
  margin-bottom: 3rem;
  border: 1px solid var(--baby-blue);
  box-shadow:
    0px 0px 5px var(--baby-blue);
}

.modal-body {
  margin-bottom: 3rem;
}
