@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  /* COLORS */
  --accent: #38b6ff !important;
  --accent-hover: #fb55e1 !important;
  --bgcolor: #0A0A08 !important;

  --yellow: #fff45e !important;
  --green : #aeff43 !important;
  --baby-blue: #55fdfd !important;
  --dark-blue: #2155cd !important;
  --orange: #ff9443 !important;
  --red: #ff4350 !important;
  --magenta: #ff43ae !important;
  --purple: #9443ff !important;
}

body {
  margin: 0;
  padding: 0;

  background-color: #0A0A08;
  font-family: "Comfortaa", sans-serif;
}

/*
 * Buttons used throughout the app
 * They're constructed this way to give them an angular
 * design, reminiscent of sci-fi.
 * It is honestly difficult to work with this kind of setup,
 * though clip path was used to make it look this way.
 */

.button-shadow {
  width: 10rem;
  height: 3rem;
  filter: drop-shadow(0px 0px 20px var(--baby-blue));
}

.button-outer {
  width: 100%;
  height: 100%;

  background-color: var(--baby-blue);
  color: var(--baby-blue);

  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-inner {
    font-family: "Comfortaa", sans-serif;
  width: 95%;
  height: 95%;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;

  border-width: 3px;
  border-style: solid;
  border-color: var(--baby-blue);

  color: var(--baby-blue);
  background-color: var(--bgcolor);

  text-shadow:
    0px 0px 5px var(--baby-blue);

  transition: 0.5s ease-in-out;

  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

.button-inner:hover {
  color: var(--bgcolor);
  background-color: var(--baby-blue);

  text-shadow:
    0px 0px 5px var(--bgcolor);

}

/* MODALS */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  backdrop-filter: blur(5px);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .75);
  /* padding: 75%; */
  width: 85vw;
  z-index: 100;

  border-width: 0.2rem;
  border-style: outset;
  border-color: var(--baby-blue);
  box-shadow:
    0px 0px 30px var(--baby-blue);

  color: var(--baby-blue);

  text-shadow:
    0px 0px 5px var(--baby-blue);

  animation-name: modal-animate;
  animation-duration: 1s;
  /* animation-timing-function: ease-in; */
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: forward;

  /* transition: box-shadow 1s ease-in-out; */

  /* filter: blur(10px); */
}

@keyframes modal-animate {
  0% {
    clip-path: polygon(0% 0%, 0.5% 0%, 0.5% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  50.1% {
    clip-path: none;
    box-shadow: none;
  }

  100% {
    box-shadow:
      0px 0px 30px var(--baby-blue);

  }
}

@keyframes modal-container-after-border {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--yellow);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  25% {
    width: 104%;
    height: 0;
    border-top-color: var(--yellow);
    border-right-color: var(--yellow);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  100% {
    width: 104%;
    height: 110%;
    border-top-color: var(--yellow);
    border-right-color: var(--yellow);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

.fa-xmark {
  cursor: pointer;
  font-size: 2rem;
  filter: drop-shadow(0px 0px 5px var(--baby-blue));
  opacity: 1;

  transition: opacity 0.25s ease-in-out;
}

.fa-xmark:hover {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.modal-container hr {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  border: 1px solid var(--baby-blue);
  box-shadow:
    0px 0px 5px var(--baby-blue);
}

.modal-body {
  margin-bottom: 3rem;
}

.diamond-outer {
  width: 5rem;
  height: 5rem;
  background-color: white;
  color: black;

  transform: rotate(-45deg);
  transform-origin: 60% 0;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  float: left;

}



.diamond-inner {
  transform: rotate(45deg);
}
