@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

:root {
  --color-primary: #2ABBEC !important;
  --color-primary-dark: #010A4B !important;
  --color-primary-light: #BAEFEE !important;

  --logo-height: 319px;
  --logo-width: 741px;
}

.logo {
  height: calc(var(--logo-height) / 3);
  width: calc(var(--logo-width) / 3);
  background-image: url('../imgs/wacky-wackers-logo-full.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: black;

  transition: background-image 0.5s ease-in;
}

.logo:after {
  background: url('../imgs/wacky-wackers-logo-full-glow.png');
  background-size: inherit;
  background-repeat: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  content: "";

  opacity: 0;

  transition: opacity 0.25s ease-in-out;
}

.logo:hover:after {
  opacity: 1;
}

header {
  font-family: 'Potta One', cursive;
  color: white;
  background-color: #38b6ff;
}

header ul {
  list-style: none;
}

header a {
  text-decoration: none;
  color: inherit;
}

.modal-login-fields {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 2rem;
}

.modal-login-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.modal-login-text-content-container {
  /* flex-grow: 1; */
  /* flex-basis: auto; */
  /* flex-shrink: 1; */
}

.modal-login-field-container {
  margin-bottom: 1rem;
  width: 100%;
}

.modal-login-field-container label {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 0;
  color: var(--yellow);
  font-weight: 900;
  text-shadow:
    0px 0px 5px var(--yellow);
}

.modal-login-field-container input {
  border-radius: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--baby-blue);
  font-family: "Consolaa", sans-serif;
  padding: 0.5rem 1rem;
  border-color: var(--baby-blue);

  transition: all 0.5s ease-in-out;

  box-shadow:
    0px 0px 5px var(--baby-blue);

  text-shadow:
    0px 0px 5px var(--baby-blue);
}

.modal-login-field-container input:hover,
.modal-login-field-container input:focus {
  box-shadow:
    0px 0px 10px var(--baby-blue);
  filter: opacity(1.5);

  outline-color: var(--yellow);
}

.nav-hamburger {
}



/* MEDIA QUERIES */
/* Breakpoints from here: https://stackoverflow.com/a/24664378 */
@media only screen and (min-width: 320px) and (max-width: 479px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 992px) {
  .nav-hamburger {
    display: none;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    top: 0;
  }

  header ul {
    display: flex;
    gap: 2rem;
    margin: 2rem;
  }

  header h1 {
    font-size: 1.5rem;
  }
}
