.page-menu {
  color: white;
}

.menu-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

.menu-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-section hr {
  width: 75vw;
}

.menu-section-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  max-width: 75vw;
}

.honeycomb-cell {
  list-style: none;
  flex: 0 1 250px;
  width: 250px;
  height: calc(250px * 0.55);
  margin: calc((250px * 0.55) / 2.1)
    calc(25px / 2) 25px;
  position: relative;
  padding: 0.5em;

  text-align: center;
  z-index: 1;
}

.honeycomb-cell::before,
.honeycomb-cell::after {
  content: '';
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.honeycomb-cell::before {
  background-color: var(--baby-blue);
  transform: scale(1.055);

  transition: background-color 0.25s ease-in-out;
}

.honeycomb-cell:hover::before {
  background-color: var(--magenta);
}

.honeycomb-cell::after {
  background-color: grey;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.honeycomb-link {
  color: inherit;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.honeycomb-image {
  object-fit: cover;
  object-position: center;
  z-index: 0;
}
